DATABASE_URL=mysql://root:root@localhost:3306/torneo
ANTHROPIC_API_KEY=
BETTER_AUTH_SECRET=
JUDGE0_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=
JUDGE0_API_HOST=judge0-ce.p.rapidapi.com
BREVO_API_KEY=
BREVO_CORREO_REMITENTE=
